
Senior Projects 2024/Assets/Plugins/Android/undreamai-v1.1.12-llamacpp.meta
Senior Projects 2024/Assets/Plugins/Android/undreamai-v1.1.12-llamacpp/libundreamai_android.so
Senior Projects 2024/Assets/Plugins/Android/undreamai-v1.1.12-llamacpp/libundreamai_android.so.meta
Senior Projects 2024/Assets/Plugins/Android/undreamai-v1.1.12-llamacpp/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/Plugins/Android/undreamai-v1.1.12-llamacpp/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-archchecker.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-archchecker/libarchchecker.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-archchecker/libarchchecker.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx/libundreamai_linux-avx.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx/libundreamai_linux-avx.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx2.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx2/libundreamai_linux-avx2.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx2/libundreamai_linux-avx2.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx2/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx2/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx512.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx512/libundreamai_linux-avx512.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx512/libundreamai_linux-avx512.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx512/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-avx512/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/libundreamai_linux-cuda-cu11.7.1.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/libundreamai_linux-cuda-cu11.7.1.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu11.7.1/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/libundreamai_linux-cuda-cu12.2.0.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/libundreamai_linux-cuda-cu12.2.0.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-cuda-cu12.2.0/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/libundreamai_linux-hip.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/libundreamai_linux-hip.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-hip/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-noavx.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-noavx/libundreamai_linux-noavx.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-noavx/libundreamai_linux-noavx.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-noavx/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-noavx/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/libundreamai_linux-vulkan.so
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/libundreamai_linux-vulkan.so.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/libvulkan.so.1
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/libvulkan.so.1.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/linux-vulkan/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-acc.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-acc/libundreamai_macos-arm64-acc.dylib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-acc/libundreamai_macos-arm64-acc.dylib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-acc/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-acc/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-no_acc.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-no_acc/libundreamai_macos-arm64-no_acc.dylib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-no_acc/libundreamai_macos-arm64-no_acc.dylib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-no_acc/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-arm64-no_acc/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-acc.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-acc/libundreamai_macos-x64-acc.dylib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-acc/libundreamai_macos-x64-acc.dylib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-acc/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-acc/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-no_acc.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-no_acc/libundreamai_macos-x64-no_acc.dylib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-no_acc/libundreamai_macos-x64-no_acc.dylib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-no_acc/llama.cpp.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/macos-x64-no_acc/llama.cpp.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/setup.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/setup/undreamai-v1.1.12-llamacpp.zip.complete
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/setup/undreamai-v1.1.12-llamacpp.zip.complete.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-archchecker.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-archchecker/archchecker.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-archchecker/archchecker.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx/undreamai_windows-avx.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx2/undreamai_windows-avx2.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-avx512/undreamai_windows-avx512.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_test.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_test.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_test.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_test.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu11.7.1/undreamai_windows-cuda-cu11.7.1.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_test.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_test.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_test.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_test.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-cuda-cu12.2.0/undreamai_windows-cuda-cu12.2.0.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-hip.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-hip/llamafile.LICENSE.txt
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-hip/llamafile.LICENSE.txt.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-hip/undreamai_windows-hip.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-hip/undreamai_windows-hip.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-noavx/undreamai_windows-noavx.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.dll.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.exp
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.exp.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.lib
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/undreamai_windows-vulkan.lib.meta
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/vulkan-1.dll
Senior Projects 2024/Assets/StreamingAssets/undreamai-v1.1.12-llamacpp/windows-vulkan/vulkan-1.dll.meta
Senior Projects 2024/Assets/QuanticBrains/MotionMatching/AnimationDatasets/Dataset_Default/Dataset_Default_Tags.asset
Senior Projects 2024/Assets/QuanticBrains/MotionMatching/AnimationDatasets/Dataset_Default/Dataset_Default_Tags.asset.meta
Senior Projects 2024/Assets/QuanticBrains/MotionMatching/AnimationDatasets/Dataset_Default/Dataset_Default.asset
Senior Projects 2024/Assets/QuanticBrains/MotionMatching/AnimationDatasets/Dataset_Default/Dataset_Default.asset.meta
